@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: -0.01em;
}

* {
  font-family: inherit;
}
